{% extends "main_app/index.html" %}
{% load static %}

{% block contents %}


    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">

            <h1 style="text-align: center">1) Дата</h1>

        </div>
        <div class="col-md-5 col-sm-5 col-xs-5">

            <h1 style="text-align: center">Наименование новости</h1>

        </div>
    </div>

    <br>
     <br>
     <br>
     <br>


    <div class="row">
        <div class="col-md-7 col-sm-7 col-xs-7">

            <h1 style="text-align: center">содержание новости</h1>

        </div>

    </div>

    <br>
     <br>
     <br>
     <br>

    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">

            <h1 style="text-align: center">2) Дата</h1>

        </div>
        <div class="col-md-5 col-sm-5 col-xs-5">

            <h1 style="text-align: center">Наименование новости</h1>

        </div>
    </div>

    <br>
     <br>
     <br>
     <br>


    <div class="row">
        <div class="col-md-7 col-sm-7 col-xs-7">

            <h1 style="text-align: center">содержание новости</h1>

        </div>

    </div>


{% endblock %}