{% extends "main_app/index.html" %}
{% load static %}

{% block contents %}


    <!--<div class="row">-->
    <!--    <div class="col-md-9 col-sm-9 col-xs-9">-->


    <!--        <h1 style="text-align: center">Схема основного процесса и ссылки на подпроцессы</h1>-->

    <!--    </div>-->

    <!--</div>-->

    <!--<h3 style="text-align: center">Структура управления</h3>-->


            <br>
            <img src="{% static 'main_app/images/card_proc_.jpg' %}" style="width: 100%;position:relative;display:block; margin: auto">
    <br>
     <br>
     <br>

{% endblock %}