{% extends "main_app/index.html" %}
{% load static %}

{% block contents %}


    <!--<div class="row">-->
    <!--    <div class="col-md-9 col-sm-9 col-xs-9">-->


    <!--        <a href="/infocentr/pl_mer"><h1 style="text-align: center">Планы мероприятий</h1></a>-->

    <!--    </div>-->

    <!--</div>-->

    <!--<br>-->
    <!-- <br>-->
    <!-- <br>-->
    <!-- <br>-->


    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-9">


            <a href="/infocentr/ism"><h1 style="text-align: center">ИСМ</h1></a>

        </div>

    </div>

    <br>
     <br>
     <br>
     <br>


      <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-9">



            <a href="/infocentr/ism/card_process"><h1 style="text-align: center">Карты процессов</h1></a>

        </div>

    </div>

    <br>
     <br>
     <br>
     <br>

{% endblock %}