{% extends "main_app/index.html" %}
{% load static %}

{% block contents %}
    <!--<h3 style="text-align: center">Структура управления</h3>-->


            <br>
            <img src="{% static 'main_app/images/instr_.jpg' %}" style="width: 100%;position:relative;display:block; margin: auto">

    <!--<div class="row">-->
    <!--    <div class="col-md-9 col-sm-9 col-xs-9">-->


    <!--        <a href="#"><h1 >Документ 1</h1></a>-->

    <!--    </div>-->

    <!--</div>-->

    <!--<br>-->
    <!-- <br>-->
    <!-- <br>-->
    <!-- <br>-->


    <!--<div class="row">-->
    <!--    <div class="col-md-9 col-sm-9 col-xs-9">-->


    <!--        <a href="#"><h1 >Документ 2</h1></a>-->

    <!--    </div>-->

    <!--</div>-->

    <!--<br>-->
    <!-- <br>-->
    <!-- <br>-->
    <!-- <br>-->


    <!--  <div class="row">-->
    <!--    <div class="col-md-9 col-sm-9 col-xs-9">-->


    <!--        <a href="#"><h1 >Документ 3</h1></a>-->

    <!--    </div>-->

    <!--</div>-->

    <br>
     <br>
     <br>
     <br>




    <br>
     <br>
     <br>
     <br>

{% endblock %}