{% extends "main_app/index.html" %}
{% load static %}

{% block contents %}


    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-9">

            <h1 style="text-align: center">СПиА (Таблица плана мероприятий(реализация загрузки из Excel)</h1>



        </div>

    </div>

    <br>
     <br>
     <br>
     <br>


    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-9">

            <h1 style="text-align: center">СРиУЗ (Таблица плана мероприятий(реализация загрузки из Excel)</h1>

        </div>

    </div>

    <br>
     <br>
     <br>
     <br>


    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-9">

            <h1 style="text-align: center">СРиКСЗ (Таблица плана мероприятий(реализация загрузки из Excel)</h1>

        </div>

    </div>

    <br>
     <br>
     <br>
     <br>






{% endblock %}