.navbar{
    border-radius: 0;
}



.navbar-header{
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    display: block;


}

.navbar-brand {float:none;}
.nav-sidebar{
  position: absolute;
}


.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    /*padding: 20px;*/
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #222222;
    border-right: 1px solid #eee;
    font-family: "Arial";
}

a{
    color: #999999;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}


#wrapper {
    padding-left: 500px;
}

.body_{
    margin-top: 50px;
}