{% extends "main_app/index.html" %}
{% load static %}

{% block contents %}


    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-9">

            <h3 style="text-align: center">Место в структуре компании</h3>
            <br>
            <img src="{% static 'main_app/images/struct.jpg' %}" style="width: 50%;position:relative;display:block; margin: auto">
        </div>

    </div>

    <br>
     <br>
     <br>
     <br>


    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-9">


            <br>
            <img src="{% static 'main_app/images/targers.jpg' %}" style="width: 100%;position:relative;display:block; margin: auto">

        </div>

    </div>

    <br>
     <br>
     <br>
     <br>

    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-9">



            <br>
            <img src="{% static 'main_app/images/target_for_monthts.jpg' %}" style="width: 100%;position:relative;display:block; margin: auto">

        </div>

    </div>




{% endblock %}