{% extends "main_app/index.html" %}
{% load static %}

{% block contents %}


    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-9">

            <h1 style="text-align: center">Положение об Управлении запасов</h1>
            <br>
            <br>
            <br>



            <p><strong> 1 Общие положения</strong></p>

            <p>1.1 Управление запасов (далее - Управление) является структурным подразделением ТОО «Казцинк» (далее - Компания).<s></s></p>

            <p>1.2 Управление создается и ликвидируется приказом Генерального директора Компании.</p>

            <p>1.3 Управление возглавляет начальник, назначаемый на должность и освобождаемый от неё приказом Генерального директора Компании по согласованию с Исполнительным директором по коммерции.</p>

            <p>1.4 Общее руководство и распределение обязанностей между сотрудниками осуществляет начальник Управления.</p>

            <p>1.5 В своей работе Управление руководствуется Политикой Компании, Уставом Компании, СТ-10 «Коммерция», внутренними нормативными и организационно-распорядительными документами Компании, законодательством Республики Казахстан, настоящим Положением.</p>

            <p>1.6 Требования к компетентности персонала:</p>

            <p>1.6.1 на должность начальника Управления назначается лицо, имеющее высшее (или послевузовское) техническое/экономическое образование, со стажем работы, соответствующем профилю Управления не менее пяти лет, обладающее навыками работы с компьютером (владение стандартным пакетом Microsoft Office);</p>

            <p>1.6.2 на должность заместителя начальника Управления назначается лицо, имеющее высшее (или послевузовское) техническое/экономическое образование со стажем работы, соответствующем профилю Управления не менее пяти лет, обладающее навыками работы с компьютером (владение стандартным пакетом Microsoft Office);</p>

            <p>1.6.3 на должность начальника Службы планирования и анализа назначается лицо, имеющее высшее (или послевузовское) техническое/экономическое образование со стажем работы, соответствующем профилю Управления не менее пяти лет, обладающее навыками работы с компьютером (владение стандартным пакетом Microsoft Office);</p>

            <p>1.6.4 на должность начальника Службы распределения и управления запасами назначается лицо, имеющее высшее (или послевузовское) техническое/экономическое образование со стажем работы, соответствующем профилю Управления не менее пяти лет, обладающее навыками работы с компьютером (владение стандартным пакетом Microsoft Office);</p>

            <p>1.6.5 на должность начальника Службы реализации и контроля за состоянием запасов назначается лицо, имеющее высшее (или послевузовское) техническое/экономическое образование со стажем работы, соответствующем профилю Управления не менее пяти лет, обладающее навыками работы с компьютером (владение стандартным пакетом Microsoft Office);</p>

            <p>1.6.6 на должность главных специалистов Служб Управления назначаются лица, имеющие высшее (или послевузовское) техническое/экономическое образование со стажем работы, соответствующем профилю Управления не менее трёх лет, обладающее навыками работы с компьютером (владение стандартным пакетом Microsoft Office);</p>

            <p>1.6.7 на должность ведущих специалистов Служб Управления назначаются лица, имеющие среднетехническое или высшее (или послевузовское) техническое/экономическое образование со стажем работы, соответствующем профилю Управления не менее одного года, обладающее навыками работы с компьютером (владение стандартным пакетом Microsoft Office).</p>

            <p><strong>2 Организационная структура управления</strong></p>

            <p>2.1 Организационная структура и штатная численность Управления утверждается в соответствии с <a href="http://www.kazzinc.kz/content/sks2/open_file.php?id=397286522">Руководством по утверждению</a> и порядком разграничения номенклатуры кадров Компании. </p>

            <p>2.2 Управление имеет следующую организационную структурууправления:</p>

            <br>
            <img src="{% static 'main_app/images/struct_upr.jpg' %}" style="width: 60%;position:relative;display:block; margin: auto">
            <br>


            <p><strong>3 Цели</strong></p>

            <p>3.1 Поддержание заданного целевого уровня запасов МТР Компании. </p>

            <p>3.2 Снижение уровня неликвидных МТР. </p>

            <p>3.3 Вовлечение невостребованных запасов.</p>

            <p>3.4 Поддержание необходимого уровня обеспеченности потребности.</p>

            <p><strong>4 Функции</strong></p>


            <p><strong>4.1. Служба планирования и анализа:</strong></p>

            <p>4.1.1. Организация, проведение и обработка результатов процесса планирования потребности материалов (ППМ) в информационной системе SAP ERP в соответствии с действующими внутренними нормативными и организационно-распорядительными документами Компании.</p>

            <p>4.1.2. Своевременная актуализация параметров планирования, находящихся в зоне ответственности Управления.</p>

            <p>4.1.3. Взаимодействие с подразделениями Компании по вопросам актуализации потребности в МТР в SAP ERP.</p>

            <p>4.1.4. Ежедневный контроль уровня запасов с целью выявления отклонений по некорректно проведенным операциям поступлений, расхода, перемещений в SAP.</p>

            <p>4.1.5. Определение целевого уровня остатка (ЦУО) по всем подразделениям Компании, формирование отчета по достижению ЦУО.</p>

            <p>4.1.6. Разработка, продвижение мероприятий по отклонениям от ЦУО.</p>

            <p>4.1.7. Расчет прогнозного уровня запаса помесячно и на конец года.</p>

            <p>4.1.8. Формирование агрегации данных, отчетов анализа по заводам в MRP Monitor.</p>

            <p>4.1.9. Формирование ежемесячной аналитической отчетности по уровню запасов, невостребованным МТР, обеспеченности производственной потребности с выявлением и минимизацией отклонений.</p>

            <p>4.1.10. Разработка и формирование требуемых форм отчетности.</p>

            <p>4.1.11. Разработка, внедрение и поддержание в актуальном состоянии методик и подходов по управлению запасами.</p>

            <p>4.1.12. Подготовка и предоставление отчетности (презентаций) по управлению запасами для руководства Компании.</p>




            <p>4.1.13. Участие в проектах по оптимизации процессов управления запасами и коммерческого блока Компании.</p>

            <p>4.1.14. Участие в разработке и внедрении системы показателей эффективности работы Управления.</p>

            <p>4.1.15. Участие в разработке и внедрении нормативных документов всех подразделений Компании в части управления запасами.</p>

            <p>4.1.16. Автоматизация процессов управления запасами.</p>

            <p>4.1.17. Разработка технических заданий для создания инструмента анализа и контроля уровня складских запасов.</p>

            <p>4.1.18. Взаимодействие со специалистами других служб Управления и подразделений Компании в соответствии с утвержденными бизнес-процессами посредством принятых систем документооборота.</p>

            <p>4.1.19. Контроль исполнения нормативных документов в части управления запасами.</p>

            <p><strong>4.2. Служба распределения и управления запасами:</strong></p>

            <p>4.2.1. Распределение запасов МТР на складах между заказчиками в системе учёта SAP.</p>

            <p>4.2.2. Организация процесса перемещения запасов МТР между складами внутри завода центральных складов и между заводами центральных складов (регионами).</p>

            <p>4.2.3. Контроль и взаимодействие с заказчиками по вовлечению в производство заявленных МТР.</p>

            <p>4.2.4. Разработка и продвижение мероприятий по устранению отклонений от целевого уровня остатков в зоне ответственности Управления.</p>

            <p>4.2.5. Экспертная оценка расчёта ЦУО с учётом специфики групп материалов.</p>

            <p>4.2.6. Предложение заказчикам использования аналогов МТР со складов Компании и контроль корректировки потребности в системе учёта SAP при согласовании аналогов на заявленные заказчиком МТР.</p>

            <p>4.2.7.  Выявление причин образования, заказчика и принятие мер по вовлечению длительно-неподвижных запасов на ПК, ДП и подрядных организациях Компании, в том числе в качестве аналогов заявленных МТР.</p>

            <p>4.2.8.  Согласование корректировки потребности в системе учёта SAP в зоне ответственности службы.</p>

            <p>4.2.9.  Формирование документов перемещения и закупки в системе учёта SAP в зоне ответственности службы.</p>

            <p>4.2.10. Контроль и поддержание технически необходимого страхового запаса (ТНСЗ) на складах Компании.</p>

            <p>4.2.11. Согласование объемов к поставке по определенным группам МТР в соответствии с НД Компании.</p>

            <p>4.2.12. Контроль исполнения нормативных документов в части управления запасами.</p>

            <p>4.2.13. Участие в проектах по оптимизации процессов, в разработке и внедрении нормативных документов всех подразделений Компании в части управления запасами.</p>

            <p><strong>4.3. Служба реализации и контроля за состоянием запасов:</strong></p>

            <p>4.3.1. Заключение контрактов на реализацию и договоров по хранению МТР, контроль исполнения, сроков действия и закрытия контрактов.</p>

            <p>4.3.2. Предоставление в Управление комплаенс-контроля информации на проверку соответствия требованиям, предъявляемым к контрагентам, с которыми планируется заключение контрактов, находящихся в зоне ответственности Управления.</p>

            <p>4.3.3. Реализация МТР, в т.ч. невостребованных запасов: дочерним предприятиям, сторонним организациям, частным лицам по письмам, контрактам и заявлениям.</p>

            <p>4.3.4.  Внесение в систему SAP потребности подрядных организаций и ДП, не имеющих доступа в систему с проверкой корректности заявляемой номенклатуры.</p>

            <p>4.3.5.  Оформление СНН при реализации/внутреннем перемещении ГСМ.</p>

            <p>4.3.6.  Взаимодействие со складским хозяйством, службами (ОЦО/УСМ/УСО/УТЛ): в вопросах оформления сопроводительных документов, влияющих на показатели реализации МТР; участвующие в организация доставки МТР.</p>

            <p><a name="_Hlk38029800">4.3.7. Формирование и предоставление перечня длительно-неподвижных материалов в комиссию по инвентаризации.</a></p>

            <p>4.3.8. Участие в комиссии по проведению технических аудитов подразделений Компании.</p>

            <p>4.3.9.  Выявление причин образования невостребованных МТР и разработка мероприятий по снижению невостребованных запасов ОС, в т.ч. размещение перечней невостребованных МТР на внутреннем сайте Компании для возможности привлечения потенциальных покупателей.</p>

            <p>4.3.10.  Участие в работе по корректировке плана поступлений ОС, при изменении текущей потребности, технических характеристик, замен ОС и оборудования на аналоги, сроков поставки, условий поставки, места поставки по обращению трейдера.</p>

            <p>4.3.11.  Формирование отчетности по реализации МТР.</p>

            <p>4.3.12.  Контроль исполнения /участие в разработке нормативных документов в части управления запасами.</p>

            <p>4.3.13. Проведение работы по согласованию смет в части вовлечения невостребованных МТР по всем регионам присутствия Компании.</p>

            <p>4.3.14. Организация и документальное сопровождение перемещения ОС между регионами присутствия Компании.</p>

            <p><strong>5 Права</strong></p>

            <p>5.1 Запрашивать в установленном порядке и получать от структурных подразделений Компании сведения, необходимые для выполнения возложенных на Управление задач и функций.</p>

            <p>5.2 Представительствовать в установленном порядке от имени Компании по вопросам, относящимся к компетенции Управления, во взаимоотношениях с государственными и муниципальными органами, а также другими предприятиями, организациями, учреждениями.</p>

            <p>5.3 Представительствовать на совещаниях, рассматривающих вопросы, связанные с деятельностью Управления.</p>

            <p>5.4 Решать вопросы, относящиеся к компетенции Управления во взаимоотношении с другими структурными подразделениями Компании.</p>

            <p>5.5 Участвовать в разработке и внедрении проектов, внутренних нормативных и организационно-распорядительных документов Компании по вопросам управления запасами.</p>

            <p>5.6 Самостоятельно вести переписку по вопросам управления запасами, а также по другим вопросам, входящим в компетенцию Управления, не требующим решения руководства Компании.</p>

            <p>5.7 Привлекать в установленном порядке специалистов структурных подразделений, руководства Компании, экспертов сторонних организаций для участия в рассмотрении и выполнении работ по вопросам, входящим в компетенцию Управления и для решения кризисных ситуаций в сфере управления запасами. </p>

            <p>5.8 Давать разъяснения, указания и рекомендации по вопросам, входящим в компетенцию Управления.</p>

            <p>5.9 Вносить предложения Исполнительному директору по коммерции о перемещении работников Управления, их поощрении за успешную работу, а также предложения о наложении дисциплинарных взысканий на работников, нарушающих трудовую дисциплину, либо выполняющих ненадлежащим образом должностные обязанности.</p>

            <p><strong>6 Ответственность</strong></p>

            <p>6.1 Начальник и работники Управления несут ответственность за надлежащее и своевременное выполнение возложенных на Управление задач и функций в рамках настоящего Положения и трудовых договоров, а также внутренних нормативных и организационно-распорядительных документов Компании.</p>

            <p>6.2 Работники Управления несут дисциплинарную, материальную и иную ответственность в соответствии с действующим законодательством Республики Казахстан и внутренними нормативными и организационно-распорядительными документами Компании за неисполнение или ненадлежащее исполнение своих обязанностей, предусмотренных трудовыми договорами.</p>



        </div>

    </div>

    <br>
     <br>
     <br>
     <br>




{% endblock %}